<h1>Browse Islands</h1>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% @islands.each do |island| %>
  <%= link_to island_path(island) do %>
    <h3><%= island.name %></h3>
  <% end %>
  <p><%= island.description %></p>
  <% island.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
